<!-- Content Header (Page header) -->
<!--
<section class="content-header">
	<h1><i class="fa fa-desktop" data-toggle="collapse" data-target="#collapse1"></i> PAGU DIPA</h1>
		<div id="collapse1" class="collapse">
			PAGU DIPA
		</div>
</section>
-->

<!-- Main content -->
<section class="content">

	<!-- Small boxes (Stat box) -->
	<div class="row">
		<div class="col-lg-12">
			
			<div class="box">
				<div class="box-header">
					<h3 class="box-title"><a href="javascript:;" id="refresh" class="btn btn-info"><i class="fa fa-refresh"></i></a>Monitoring SP2D</h3>
				</div><!-- /.box-header -->
				<div class="box-body table-responsive" style="overflow-x:scroll;">
					<table id="tabel-ruh" class="table table-hover">
						<thead>
							<tr>
                                
								<th>Nomor</th>
								<th>Tanggal</th>
								<th>Nospm</th>
				<th>Valas</th>
				<th>Nilkurs</th>                                
				<th>Pengeluaran</th>
                                <th>Pendapatan</th>
				<th>Bersih</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
			
		</div>
	</div>
	
</section>
<script>
	jQuery(document).ready(function(){
		
		jQuery.fn.dataTable.ext.errMode = 'none';
	
		var table=jQuery('#tabel-ruh').DataTable({
			
			bProcessing:true,
			oLanguage:{
				"sProcessing":   "<center><h3>Sedang proses...</h3></center>",
				"sLengthMenu":   "Tampilan _MENU_ entri",
				"sZeroRecords":  "Tidak ditemukan data yang sesuai",
				"sInfo":         "Tampilan _START_ sampai _END_ dari _TOTAL_ entri",
				"sInfoEmpty":    "Tampilan 0 hingga 0 dari 0 entri",
				"sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
				"sInfoPostFix":  "",
				"sSearch":       "Cari:",
				"sUrl":          "",
				"oPaginate": {
				  "sFirst":    "Awal",
				  "sPrevious": "Sebelum",
				  "sNext":     "Sesudah",
				  "sLast":     "Akhir"
				}
			},
			aaSorting: [],
			bServerSide: true,
			sAjaxSource: "spm/monitoring"
			
		});
		
		jQuery('#refresh').click(function(){
			table.ajax.url("spm/monitoring").load();
		});
		
	});
</script>
