<section class="content">
	
	<div class="row" id="div-form">
		<div class="col-lg-12">
			
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-pencil"></i> RUH SPBY</h3>
				</div><!-- /.box-header -->
				<div class="box-body">			
					
					<form id="form-ruh" name="form-ruh" class="form-horizontal">
						<input type="hidden" id="inp-id" name="inp-id">
						<input type="hidden" id="inp-rekambaru" name="inp-rekambaru">
						<input type="hidden" id="_token" name="_token">
						<div class="box-body">
							<div class="form-group" >
								<label class="control-label col-lg-3">No</label>
								<div class="col-lg-5">
									<input id="nospby" name="nospby" class="form-control">
								</div>
								<div class="col-lg-2">
									<span id="warning-nospby" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group" >
								<label class="control-label col-lg-3">Tanggal</label>
								<div class="col-lg-5">
									<input id="tgspby" name="tgspby" class="form-control">
								</div>
								<div class="col-lg-2">
									<span id="warning-tgspby" class="label label-warning warning">Required!</span>
								</div>
							</div>

						  <div class="form-group" >
								<label class="control-label col-lg-3">kdvalas</label>
								<div class="col-lg-5">
									<select id="kdvalas" name="kdvalas" class="form-control chosen" data-placeholder="Pilih Kewenangan"></select>
								</div>
								<div class="col-lg-2">
									<span id="warning-kdvalas" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group" >
								<label class="control-label col-lg-3">Nilai</label>
								<div class="col-lg-5">
									<input id="nilai" name="nilai" class="form-control">
								</div>
								<div class="col-lg-2">
									<span id="warning-nilai" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group" >
								<label class="control-label col-lg-3">Kepada</label>
								<div class="col-lg-5">
									<input id="kpd" name="kpd" class="form-control">
								</div>
								<div class="col-lg-2">
									<span id="warning-kpd" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group" >
								<label class="control-label col-lg-3">Uraian</label>
								<div class="col-lg-5">
									<textarea class="form-control" id="uraian" name="uraian"></textarea>
								</div>
								<div class="col-lg-2">
									<span id="warning-uraian" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group" >
								<label class="control-label col-lg-3">Kegiatan</label>
								<div class="col-lg-5">
									<select id="kdgiat" name="kdgiat" class="form-control chosen" data-placeholder="Pilih Kewenangan"></select>
								</div>
								<div class="col-lg-2">
									<span id="warning-kdgiat" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group" >
								<label class="control-label col-lg-3">Output</label>
								<div class="col-lg-5">
									<select id="kdoutput" name="kdoutput" class="form-control chosen" data-placeholder="Pilih Output"></select>
								</div>
								<div class="col-lg-2">
									<span id="warning-kdoutput" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group" >
								<label class="control-label col-lg-3">Akun</label>
								<div class="col-lg-5">
									<select id="kdakun" name="kdakun" class="form-control chosen" data-placeholder="Pilih Akun"></select>
								</div>
								<div class="col-lg-2">
									<span id="warning-kdakun" class="label label-warning warning">Required!</span>
								</div>
							</div>							
							<div class="form-group">
								<label class="control-label col-lg-3"></label>
								<div class="col-lg-5">
									<button title="Simpan Data Ini?" id="simpan" type="button" class="btn btn-primary">Simpan</button>
									<button title="Batal"  id="batal" type="button" class="btn btn-danger">Batal</button>
								</div>
							</div>
						</div><!-- /.box-body -->
					</form>
					
				</div><!-- /.box-body -->
			</div><!-- /.box -->

			
		</div>
	</div>
	
	<!-- Small boxes (Stat box) -->
	<div class="row" id="div-tabel">
		<div class="col-lg-12">			
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-calendar"></i> Data SPBY</h3>
					<div class="box-tools pull-right" id="div-tambah" style="">
						<button title="Tambah Data" type="button" class="btn btn-primary" id="tambah"><i class="fa fa-plus"></i></button>
					</div>
				</div><!-- /.box-header -->
				<div class="box-body table-responsive" style="overflow-x:scroll;">					
					<table id="tabel-ruh" class="table table-hover">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Tanggal</th>
								<th>Kdvalas</th>
								<th>Nilai</th>
								<th>Akun</th>
								<th>Uraian</th>
								<th>Kpd</th>
								</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->

			
		</div>
	</div>
	
</section>
<script>
jQuery(document).ready(function() {
		jQuery('.chosen').chosen();				
		//ref kewenangan		
		jQuery.get('dropdown/getvalas', function(result){
			jQuery('#kdvalas').html(result).trigger('chosen:updated');
		});
		jQuery.get('dropdown/getkdgiat', function(result){
			jQuery('#kdgiat').html(result).trigger('chosen:updated');
		});
		jQuery('#kdgiat').on('change',function(){
			var data = {kdgiat : this.value};
			jQuery.get('dropdown/getkdoutput',data, function(result){
			jQuery('#kdoutput').html(result).trigger('chosen:updated');
				});
			});		
		jQuery('#kdoutput').on('change',function(){
			var data ={kdgiat :jQuery('#kdgiat').val(),kdoutput:this.value};
			jQuery.get('dropdown/getkdakun',data,function(result){
				jQuery('#kdakun').html(result).trigger('chosen:updated');});
			});
			jQuery('#tgspby').datepicker({
            format: 'mm-dd-yyyy',
            autoclose: true
				});
		function isNumeric(n) {
			  return !isNaN(parseFloat(n)) && isFinite(n);
			}
		function numberWithCommas(x) {
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return parts.join(".");
			}
			//jQuery('#nilai').on('change',function(){this.value=numberWithCommas(this.value)});
    //data tabel
		var table=jQuery('#tabel-ruh').DataTable({
			bProcessing:true,
			oLanguage:{
				"sProcessing":   "<center><h3>Sedang proses....</h3></center>",
				"sLengthMenu":   "Tampilan _MENU_ entri",
				"sZeroRecords":  "Tidak ditemukan data yang sesuai",
				"sInfo":         "Tampilan _START_ sampai _END_ dari _TOTAL_ entri",
				"sInfoEmpty":    "Tampilan 0 hingga 0 dari 0 entri",
				"sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
				"sInfoPostFix":  "",
				"sSearch":       "Cari:",
				"sUrl":          "",
				"oPaginate": {
				  "sFirst":    "Awal",
				  "sPrevious": "Sebelum",
				  "sNext":     "Sesudah",
				  "sLast":     "Akhir"
				}
			},
			aaSorting: [],
			bServerSide: true,
			sAjaxSource: "spby/monitoring"
		});
	

	function form_valid(str_id) {
		var arr_id = str_id.split(',');
		var lanjut = true;
		for(x = 0; x < arr_id.length; x++) {
			if (jQuery('#'+arr_id[x]).val() == '') {
				jQuery('#warning-'+arr_id[x]).show();
				lanjut = false;
			}
		}
		return lanjut;
	}
	
	function cari_data(id) {
		jQuery('input,textarea').val('');
		jQuery('.chosen').val('').trigger('chosen:updated');
        jQuery.getJSON('spby/cari/'+id, function(result){
        if(result.error == false) {           
            jQuery('#inp-id').val(id);
            jQuery('#inp-rekambaru').val('0');
            jQuery('#nospby').val(result.data[0].nospby);
            jQuery('#tgspby').val(result.data[0].tgspby); 
            jQuery('#kdvalas').val(result.data[0].kdvalas).trigger('chosen:updated');
            jQuery('#nilai').val(result.data[0].nilai);
            jQuery('#kpd').val(result.data[0].kpd);
            jQuery('#uraian').val(result.data[0].uraian);
            jQuery('#kdgiat').val(result.data[0].kdgiat).trigger('chosen:updated');
            jQuery('#kdoutput').val(result.data[0].kdoutput).trigger('chosen:updated');
            jQuery('#kdakun').val(result.data[0].kdakun).trigger('chosen:updated');                
            jQuery('#div-form').show();
            
        }
    });
		
	}
	
	function form_default() {
		jQuery('input,textarea').val('');
		jQuery('.chosen').val('').trigger('chosen:updated');
		jQuery('#div-form,.warning').hide();
		jQuery('#div-tabel').show();
		
	}
	
	form_default();
	
	jQuery('#tambah').click(function() {
		jQuery('#inp-rekambaru').val('1');		
		jQuery.get('spby/getmaxno',function(result){
			jQuery('#nospby').val(result.data);
			});
		jQuery('#div-tabel').hide();
		jQuery('#div-form').fadeIn();
	});
	
	jQuery('#batal').click(function() {
		form_default();
	});
	
	jQuery('body').off('click', '.ubah').on('click', '.ubah', function() {
		var id = this.id;
		cari_data(id);
		jQuery('#div-tabel').hide();
		jQuery('#inp-id').val(id);
		jQuery('#inp-rekambaru').val('0'); 		  
		jQuery('#nospby').prop('disabled',true); 
        jQuery('#simpan').prop('disabled', false);        
	});
	
	
	
	jQuery('#simpan').click(function() {
		jQuery('#simpan').html('<span class="loading"><i class="fa fa-refresh"></i> Sedang proses.....</span>');
		jQuery('#simpan').prop('disabled',true);
		var lanjut = form_valid('nospby,tgspby,kdvalas,nilai,kpd,uraian,kdgiat,kdoutput,kdakun');
		if(lanjut == true) {
			jQuery.get('token', function(token) {
				if (token) {
					jQuery('#_token').val(token);
					var data = jQuery('#form-ruh').serialize();
					if (jQuery('#inp-rekambaru').val() == '1') {
						jQuery.ajax({
							url    : 'spby/add',
							method : 'POST',
							data   : data,
							success:function(result) {
								if (result.error == false) {
									jQuery('#simpan').html('Simpan');
									jQuery('#simpan').prop('disabled',false);
									alertify.log('Proses simpan berhasil');
									form_default();
									table.ajax.reload();
								} else {
									jQuery('#simpan').html('Simpan');
									jQuery('#simpan').prop('disabled',false);
									alertify.log(result.message);
								} 
							},
							error:function(result) {
								jQuery('#simpan').html('Simpan');
								jQuery('#simpan').prop('disabled',false);
								alertify.log('Koneksi pada aplikasi/database terputus. Hubungi Administrator.');
							}
						})
					} else {
						jQuery.ajax({
							url    : 'spby/add',
							method : 'PUT',
							data   : data,
							success:function(result) {
								if (result.error == false) {
									jQuery('#simpan').html('Simpan');
									jQuery('#simpan').prop('disabled',false);
									alertify.log('Proses simpan berhasil.');
									form_default();
									table.ajax.reload();
								} else {
									jQuery('#simpan').html('Simpan');
									jQuery('#simpan').prop('disabled',false);
									alertify.log(result.message);
								} 
							},
							error:function(result){
								jQuery('#simpan').html('Simpan');
								jQuery('#simpan').prop('disabled',false);
								alertify.log('Koneksi pada aplikasi/database terputus. Hubungi Administrator.');
							}
						})
					} 
				} else {
					jQuery('#simpan').html('Simpan');
					jQuery('#simpan').prop('disabled',false);
					alertify.log('Proses simpan gagal. Silahkan refresh halaman browser anda.');
				} 
			});
		} else {
			jQuery('#simpan').html('Simpan');
			jQuery('#simpan').prop('disabled',false);
			alertify.log('Kolom tidak boleh dikosongkan!');
		} 
	});
	
	jQuery('body').off('click', '.hapus').on('click', '.hapus', function() {
		var id = this.id;
		alertify.confirm('Hapus data ini?', function(c) {
			if (c) {
				jQuery.get('token', function(token) {
					if (token) {
						jQuery.ajax({
							url    : 'spby/add',
							method : 'delete',
							data   : {
										_token:token, 
										id:id
									},
							success:function(result) {
								if (result.error== false) {
									alertify.log(result.message);
									table.ajax.reload();
								} else {
									alertify.log(result.message);
								} 
							},
							error:function(result) {
								alertify.log(result.message);
							}
						});
					} else {
						alertify.log('Proses hapus gagal. Silahkan refresh halaman browser anda.');
					} 
				});
			} 
		});
	});
	
});
</script>
